@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}
.App {
  margin: 0 auto;
  max-width: 1600px;
}
:root {
  --mainAccent: #0e88de;
  --mainAccentButton: rgb(0, 174, 255);
  --shadeLight: #7b8794;
  --elementHover: rgb(243, 243, 243);
  --elementHoverAccent: #0e88de;
  --title: #4f4f4f;
  --body: #585858;
  --btnDark: rgb(255, 255, 255);
  --mainRed: rgb(245, 94, 94);
  --contentWidth: 623px;
  --webSiteMaxWidth: 1600px;
}

hr {
  margin-top: 10px;
  border-color: rgb(255, 255, 255);
}
li {
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}
.link {
  color: black;
  text-decoration: none;
}
.linkBlue {
  color: var(--mainAccent);
}
.form {
  width: 60%;
  margin: 0 auto;
}
.input--bad {
  color: var(--mainRed);
  font-weight: 700;
  padding: 2px 0 5px 0;
}
.input {
  padding: 20px;
  font-size: 14px;
  width: 100%;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 5px;
  outline: #0e88de;
  font-family: "Mulish", sans-serif;
}
.inputElement {
  margin-top: 10px;
}
textarea {
  resize: vertical;
  overflow: auto;
  min-height: 200px;
}
.mainGridLayout {
  max-width: 1300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 30px;
}
.standardShadowBox {
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.mobileMod--visible {
  display: none;
}
.btn--add {
  font-size: 30px;
  color: var(--mainAccentButton);
  cursor: pointer;
  transition: 1s;
}
.btn--add:hover {
  transform: rotateZ(160deg);
}
.mainMenu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding-top: 10px;
  width: 90%;
}
.editUserFormModal__content,
.singleServiceCard__content,
.service__content,
.singleTaskPage__content,
.addUserTasksForm__content,
.proposals__content,
.userFeed__breadCramAndAction h3,
.userFeed__search__content,
.messageElement__content,
.chatInputElement__content,
.homePage__content,
.zanatlijeCard__content,
.inboxElement__content {
  padding: 20px;
}
.homePage__content--hero__wrapper {
  display: grid;
  place-items: center;
  height: 90vh;
}
.homePage__content--hero {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero__animation__wrapper {
  display: grid;
  place-items: center;
}

.heroPage__img {
  width: 100%;
}
.hero__greetings__wrapper {
  margin: 10% 0 0 10%;
  width: 100%;
}
.hero__greetings__wrapper h1 {
  width: 70%;
  font-size: 68px;
  line-height: 70px;
}
.hero__greetings__wrapper p {
  width: 70%;
  font-size: 18px;
  margin-top: 20px;
}
.zanatlijePage__content,
.signInUser__wrapper {
  max-width: var(--contentWidth);
  margin: 0 auto;
}
.signInUserHero {
  width: 100%;
}

.userProfileInformation__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.userProfileInformation__card {
  padding: 20px;
}
.userFeedTask__wrapper:hover,
.proposals__wrapper:hover,
.singleServiceCard__wrapper:hover,
.zanatlijeCard__wrapper:hover,
.inboxElement__content:hover {
  background-color: var(--elementHover);
}
.userFeedTask--titleAndFav,
.userServices__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.mainMenu__wrapper ul {
  display: flex;
}
.mainMenu__wrapper ul li {
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}
.mainMenu__wrapper ul li:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.logText {
  font-size: 24px;
  font-family: "Pattaya", sans-serif;
}

.linkWithIcon {
  display: flex;
  align-items: center;
  color: var(--btnDark);
}

.sideBarRight__item--icon {
  font-size: 18px;
  color: var(--btnDark);
  padding-right: 5px;
}

.userFeedTask__wrapper {
  transition: 0.3s;
}

.userFeedTask__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--title);
}
.userFeedTask__favIcon--false {
  color: #555555;
  cursor: pointer;
}
.userFeedTask__favIcon {
  color: var(--mainRed);
  cursor: pointer;
}
.userFeedTask--priceAndInfo {
  display: flex;
  padding: 0 20px;
  font-size: 14px;
}
.userFeedTask__price {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-weight: 600;
}
.userFeedTask__price h4 {
  color: var(--mainAccent);
  padding-left: 5px;
}
.userFeedTask__address {
  display: flex;
  align-items: center;
}
.userFeedTask__address p {
  padding-left: 10px;
  color: var(--mainAccent);
}
.userFeedTask__taskDescription {
  padding: 5px 20px;
}
.userFeedTask__taskDescription p,
.singleTaskPage__taskDescription p {
  color: var(--body);
}
.userFeedTask__taskOwner {
  padding: 20px;
  font-size: 14px;
}
.btn {
  padding-bottom: 20px;
  width: 93%;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
}
.btn p {
  border: 2px solid var(--mainAccentButton);
  border-radius: 5px;
  padding: 10px;
  color: var(--mainAccentButton);
  margin-bottom: 20px;
  font-weight: 600;
}

.btn--close,
.btn--delete,
.btn--edit,
.btn--search,
.btn--redirect {
  cursor: pointer;
}
.btn--redirect {
  color: var(--mainAccentButton);
}
.sideBarRight__item {
  margin-right: 10px;
}
.sideBarLeft__item {
  margin-left: 10px;
}
.button {
  cursor: pointer;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  /* filter: drop-shadow(3px 8px 8px rgb(147, 193, 219)); */
  background: linear-gradient(
    56deg,
    rgb(131, 210, 255) 0%,
    rgb(0, 108, 170) 100%
  );
  transition: 0.3s;
}
.button:hover {
  /* filter: drop-shadow(3px 3px 6px rgb(147, 193, 219)); */
  background: linear-gradient(
    56deg,
    rgb(131, 210, 255) 25%,
    rgb(0, 108, 170) 100%
  );
}

.homePageBtn {
  margin-top: 90px;
}

.input--search {
  border: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  outline: none;
  font-size: 18px;
  width: 90%;
}
.userFeed__search {
  margin-bottom: 50px;
}
.userFeed__search__content {
  display: flex;
  justify-content: space-between;
}
.modalTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.modalTop h3 {
  color: var(--shadeLight);
}
.application__modal {
  margin-top: 30px;
}
.application__modal__content {
  padding: 20px;
  background-color: white;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.userProfile__beadCram,
.userProfile__nameAndActions,
.userProfile__contactAndStats {
  padding: 10px 20px;
}
.userProfile__contactAndStats--name h3 {
  padding: 20px 0;
}
.userProfile__beadCram h3 {
  color: var(--shadeLight);
}
.userProfile__actions {
  display: flex;
  color: var(--mainAccent);
  cursor: pointer;
}
.userProfile__nameAndActions {
  display: flex;
  justify-content: space-between;
}
.userProfile__actions--edit {
  padding-right: 20px;
}

.singleServiceCard__categoryAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title);
}
.confirmationModal__titleAndActions {
  display: flex;
  justify-content: space-between;
}
.editUserFormModal__title h3 {
  color: var(--shadeLight);
  padding-bottom: 40px;
}
.userServices__actions__title {
  color: var(--title);
}
.singleServiceCard__Description {
  margin-top: 10px;
}
.singleServiceCard__actions {
  color: var(--mainAccent);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.singleServiceCard__actions p {
  padding-left: 20px;
}

.singleTaskPage--priceAndInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.proposal__msg--sender {
  display: flex;
  align-items: center;
}
.proposal__msg--sender h3 {
  color: var(--title);
  padding-left: 10px;
}
.proposal__msg--icon {
  color: var(--title);
}
.proposal__msg--body p {
  color: var(--body);
  padding-top: 10px;
}
.proposal__msg--priceOffer p {
  color: var(--mainAccent);
  padding-top: 10px;
}
.proposal__msg--icon {
  font-size: 18px;
}
.userFeed__breadCramAndAction {
  color: var(--shadeLight);
}

.homePage__introStory__wrapper {
  height: 50vh;
  display: grid;
  place-items: center;
}
.homePage__introStory__content {
  width: var(--contentWidth);
}
.homePage__introStory__content h2 {
  text-align: center;
  padding: 30px;
}
.homePage__slider--item,
.zanatlijaProfile__wrapper {
  width: var(--contentWidth);
  margin: 0 auto;
}
.chat__content {
  width: 99%;
  margin: 0 auto;
}
.homePage__sectionTitle {
  text-align: center;
  padding: 30px;
}

.zalatlijePage__wrapper {
  max-width: var(--webSiteMaxWidth);
  width: 90%;
  margin: 50px auto;
}
.homePage__instructions__wrapper {
  margin: 0 auto;
  max-width: 90%;
}
.homePage__instructions__title,
.homePage__sectionTitle,
.homePage__introStory__content h2 {
  font-size: 48px;
  font-weight: 900;
  color: var(--title);
  text-align: center;
  padding: 30px;
}
.homepage__instructions__cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
}

.homePage__instructions__card {
  width: 30%;
  text-align: center;
  margin: 10px;
  background-color: white;
  padding: 20px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.homePage__instructions__card p {
  margin-top: 30px;
}
.homePage__instructions__card h3 {
  color: var(--mainAccent);
  padding: 10px;
  font-weight: 400;
}
.homePage__instructions__card--icon {
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: var(--mainAccent);
  border-radius: 50px;
  padding: 10px;
}
.homePage__instructions__content {
  margin-top: 100px;
}
.images__floating__element {
  position: absolute;
}

.zanatlijeCard__content--userName {
  color: var(--title);
}
.zanatlijeCard__content--serviceDescription {
  padding-top: 10px;
}
.zanatlijeCard__content--serviceCategory {
  padding-top: 10px;
  color: var(--mainAccent);
}
.userServices__content--title {
  padding: 30px 0;
  color: var(--shadeLight);
}
.singIn__image__element {
  position: absolute;
  z-index: -100;
  top: 10%;
}
.signIn__title {
  font-size: 24px;
  text-align: center;
  padding: 50px 0;
  margin-top: 25%;
}
.signInUserForm {
  margin: 0 auto;
}

.confirmationModal__wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  background-color: #999999b4;
  overflow-x: hidden;
}
.confirmationModal__content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 600px;
}
.confirmationModalTitle h3 {
  font-weight: 400;
  color: var(--title);
  padding: 20px;
}
.confirmationModal--actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.signInUser--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messageElement__content--msgBody {
  font-size: 16px;
  padding: 10px 0;
}
.messageElement__content--user {
  display: flex;
  align-items: center;
}

.messageElement__content--msgTimeStamp {
  padding-left: 10px;
  font-size: 12px;
}
.messageElement__content--fromName {
  font-weight: bold;
}
.inboxElement__taskName {
  color: var(--title);
}
.inboxElement__basicInfo,
.inboxElement__basicInfo--price,
.inboxElement__basicInfo--address,
.inboxElement__offerPrice {
  display: flex;
  align-items: center;
}
.inboxElement__basicInfo {
  padding: 10px 0;
}
.inboxElement__basicInfo--price {
  padding-right: 10px;
  color: var(--mainAccent);
}
.inboxElement__basicInfo--price p {
  padding: 0 10px 0 0;
}
.inboxElement__name {
  padding: 10px 0;
}
.inboxElement__offerPrice p:first-child {
  padding-right: 10px;
}
.inboxElement__proposalText {
  padding: 10px 0;
}
.inboxElement__basicInfo--address,
.inboxElement__offerPrice {
  color: var(--mainAccent);
}
.tutorialIcon {
  font-size: 12px;
  color: var(--mainAccent);
  cursor: pointer;
}
.tutorialIcon--absolute {
  position: absolute;
  margin-top: -10px;
  z-index: 101;
}
.noContent__wrapper {
  height: 300px;
  display: grid;
  place-items: center;
}

.footer__wrapper {
  width: 100%;

  display: grid;
  place-items: center;
  background-color: #303030;
  height: 5vh;
  margin-top: 50px;
}
.footer__content {
  color: rgb(161, 161, 161);
}

.mobileMenu__wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: -10px;
  background-color: #000000;
  z-index: 102;
}

.mobileMenuBurger {
  display: none;
  font-size: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 103;
  color: var(--mainAccent);
  cursor: pointer;
}
.mobile__content ul li {
  margin-top: 50px;
}
.mobileLink {
  color: white;
  font-size: 20px;
  background: linear-gradient(
    56deg,
    rgb(131, 210, 255) 0%,
    rgb(0, 108, 170) 100%
  );
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}
.mobileLink:hover {
  background: linear-gradient(
    56deg,
    rgb(131, 210, 255) 25%,
    rgb(0, 108, 170) 100%
  );
}
.heroImage {
  width: 100%;
}

@media only screen and (max-width: 1070px) {
  .hero__greetings__wrapper h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .hero__greetings__wrapper p {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .homePage__instructions__card {
    width: 50%;
  }
  .homePage__instructions__wrapper {
    max-width: 90%;
  }
  .sideBarRight__item--icon {
    font-size: 16px;
  }
  .linkWithIcon p {
    font-size: 13px;
  }
  .button {
    font-size: 13px;
  }
  .hero__greetings__wrapper h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .hero__greetings__wrapper p {
    width: 90%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .mobileGridLayout {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .mobileMod--disable {
    display: none;
  }
  .mobileMod--visible {
    display: block;
  }

  .sideBarRight__item {
    margin-right: 0px;
  }
  .sideBarLeft__item {
    margin-left: 0px;
  }
  .sideBarRight__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  .homepage__instructions__cards {
    display: block;
  }
  .homePage__instructions__card {
    width: 90%;
    margin-top: 50px;
  }
  .homePage__introStory__content {
    width: 80%;
  }
  .mainGridLayout {
    grid-gap: 20px;
  }
  .button {
    margin-top: 0;
    padding: 15px 10px;
    border-radius: 8px;
  }
  .hero__greetings__wrapper {
    margin: 10% 0 0 10%;
  }
  .hero__greetings__wrapper h1 {
    width: 70%;
  }
  .hero__greetings__wrapper p {
    width: 80%;
  }
  .homePageBtn {
    margin-top: 50px;
  }
  .homePage__slider--item {
    width: 99%;
  }
  .mobileMenuBurger {
    display: inline;
  }
  .mainMenu__wrapper ul {
    display: none;
  }
  .image__element {
    width: 50%;
  }
}
@media only screen and (max-width: 533px) {
  .linkWithIcon {
    display: flex;
    flex-direction: column;
  }
  .hero__greetings__wrapper h1 {
    font-size: 30px;
    line-height: 25px;
  }
  .hero__greetings__wrapper p {
    width: 100%;
    font-size: 16px;
  }
  .heroImage {
    width: 100%;
  }
  .homePage__instructions__content {
    padding: 0;
  }
}
/* 394px is my phone lol  */
@media only screen and (max-width: 394px) {
  .button {
    margin-top: 0;
    padding: 15px 10px;
    border-radius: 8px;
  }
  .hero__greetings__wrapper {
    margin-top: 20%;
    width: 90%;
  }
  .homePage__content {
    padding: 2px;
  }
  .hero__greetings__wrapper h1 {
    width: 90%;
  }
  .hero__greetings__wrapper p {
    width: 90%;
  }
  .homePageBtn {
    margin-top: 50px;
  }
  .homePage__slider--item {
    width: 99%;
  }
}
